.select {
  background-color: #4682b4;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  outline: none;
}

@media (max-width: 449px) {
  .select {
    width: 280px;
  }
}
