.button {
  background-color: #4682b4;
  padding: 10px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
}
.button:hover {
  background-color: #87cefa;
}
@media (max-width: 449px) {
  .button {
    width: 70px;
    font-size: 15px;
  }
}
