.bookList {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 15px;
  margin-bottom: 30px;
  align-items: stretch;
}

.empty {
  margin: 0 auto;
  border: 1px solid #4682b4;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  font-size: 20px;
  background-color: #4682b4;
}


@media (max-width: 1275px) {
  .bookList {
    grid-template-columns: repeat(3, 300px);
  }
}

@media (max-width: 998px) {
  .bookList {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 651px) {
  .bookList {
    grid-template-columns: repeat(1, 300px);
  }
}
